torch
torchvision
transformers==4.5.1
addict
yapf
timm
numpy
opencv-python
pycocotools
packaging==21.3
addict

matplotlib
numpy
onnxruntime
opencv_python
Pillow
pycocotools
PyYAML
requests
setuptools
supervision
termcolor
timm
torch
torchvision
transformers
yapf
torch
torchvision
transformers
addict
yapf
timm
numpy
opencv-python
supervision==0.6.0
pycocotools
